Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*

Package updates
  package-lock.json
  package.json
Labels: repo

Vue CLI updates
  package-lock.json
  package.json
Labels: repo

Adding Dependabot config
  .github/dependabot.yaml
Labels: ci

Adding Cypress and Screencap Creation
  .gitignore
  README.md
  cypress.doc.json
  cypress.json
  cypress/documentation/documentation.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  media/home-preview.png
  package-lock.json
  package.json
  src/assets/preview-hierarchy-example.png
  src/assets/preview-project-one.png
  src/assets/preview-project-three.png
  src/assets/preview-project-two.png
  src/views/Home.vue
  src/views/ProjectPreviewCarousel.vue
Labels: app, repo

Don't record video for documentation run
  cypress.doc.json
Labels: repo

Update the port used for debug
  cypress.doc.json
  cypress.json
  package.json
Labels: repo

Update Cypress
  package-lock.json
  package.json
Labels: repo

Move generated files in external script
  ci/documentationUtils.js
  ci/export-documentation.js
  package.json
Labels: repo

Only move the preview files if different
  ci/documentationUtils.js
  package-lock.json
  package.json
Labels: repo

Project two & three screenshot tasks use 'guard'
  cypress/documentation/documentation.spec.js
Labels: none

Remove wait for hierarchy screenshot
  cypress/documentation/documentation.spec.js
Labels: none

Make sure file exists before comparing
  ci/documentationUtils.js
Labels: none

Pseudo guard clause for donut chart
  cypress/documentation/documentation.spec.js
Labels: none

Specify single quotes in editor config
  .editorconfig
Labels: repo

Lint the export scripts
  ci/documentationUtils.js
  ci/export-documentation.js
Labels: none

Bump up tolerance when comparing screenshots
  ci/documentationUtils.js
Labels: none

Use node 16 for CI
  .circleci/config.yml
Labels: ci

Use updated naming for CircleCI containers
  .circleci/config.yml
Labels: ci

Backtrack one version
  .circleci/config.yml
Labels: ci

Manually install make
  .circleci/config.yml
Labels: ci

Try installing node-gyp separately
  .circleci/config.yml
Labels: ci

try backtracking several versions of node
  .circleci/config.yml
Labels: ci

now try a v12 container
  .circleci/config.yml
Labels: ci

Update Cypress
  package-lock.json
  package.json
Labels: repo

Don't record video for documentation run
  cypress.doc.json
Labels: repo

Update the port used for debug
  cypress.doc.json
  cypress.json
  package.json
Labels: repo

Move generated files in external script
  ci/documentationUtils.js
  ci/export-documentation.js
  package.json
Labels: repo

Make sure file exists before comparing
  ci/documentationUtils.js
Labels: none

Specify single quotes in editor config
  .editorconfig
Labels: repo

Only move the preview files if different
  ci/documentationUtils.js
  package-lock.json
  package.json
Labels: repo

Project two & three screenshot tasks use 'guard'
  cypress/documentation/documentation.spec.js
Labels: none

Pseudo guard clause for donut chart
  cypress/documentation/documentation.spec.js
Labels: none

Remove wait for hierarchy screenshot
  cypress/documentation/documentation.spec.js
Labels: none

Bump up tolerance when comparing screenshots
  ci/documentationUtils.js
Labels: none

Lint the export scripts
  ci/documentationUtils.js
  ci/export-documentation.js
Labels: none

Update container version used in CI
  .circleci/config.yml
Labels: ci

Fix firebase import
  src/main.js
Labels: app

Adding check-only lint command
  package.json
Labels: repo

Run lint as part of CI
  .circleci/config.yml
Labels: ci

Run lint
  src/main.js
Labels: app
