Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*

Upgrade SASS packages
  package-lock.json
  package.json
Labels: repo

Update Core-JS and move to Dev dependency
  package-lock.json
  package.json
Labels: repo

Uninstall SASS packages for now
  package-lock.json
  package.json
Labels: repo

Install newest version of ESLint
  package-lock.json
  package.json
Labels: repo

Force install of v5 Vue CLI
  package-lock.json
  package.json
Labels: repo

Bump the rest of the Vue CLI plugins
  package-lock.json
  package.json
Labels: repo

Bump Babel, test plugins
  .eslintrc.js
  jest.config.js
  package-lock.json
  package.json
Labels: repo

Update size-limit to v6
  package-lock.json
  package.json
Labels: repo

Add SASS packages back in
  package-lock.json
  package.json
Labels: repo

Provide polyfill for process built-in
  package-lock.json
  package.json
  vue.config.js
Labels: repo

Use & require latest node, npm
  .circleci/config.yml
  package.json
Labels: ci, repo

Switch to LTS tag for image
  .circleci/config.yml
Labels: ci

Compensate for firebase CLI issue with Node 18
  firebase.json
Labels: repo

Add recommended companion patch package for ESLint config
  package-lock.json
  package.json
Labels: repo

Make lint changes
  src/components/one/DonutChart.vue
  src/components/three/OrganizationDiagram.vue
  src/components/two/LineChart.vue
Labels: app

Remove Vue CLI Packages
  package-lock.json
  package.json
Labels: repo

Remove sass-loader
  package-lock.json
  package.json
Labels: repo

Add Vite packages
  package-lock.json
  package.json
Labels: repo

Remove Vue template compiler
  package-lock.json
  package.json
Labels: repo

Remove Babel, along with related settings and packages.
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
Labels: repo

Replace CLI config with Vite config
  vite.config.ts
  vue.config.js
Labels: repo

Move index.html to project root and update to be vite-compatible
  index.html
Labels: repo

Update main development scripts to use Vite
  README.md
  package.json
  vite.config.ts
Labels: repo

Fix jQuery import
  src/main.js
Labels: app

Update SFC imports to use .vue extension
  src/components/hierarchy/HierarchyExample.vue
  src/components/one/ProjectOne.vue
  src/components/three/ProjectThree.vue
  src/components/two/ProjectTwo.vue
  src/router/routes.js
Labels: app

Update environment variables
  .env.e2e
  README.md
  setup/env.local.template
  src/firestore/index.js
  src/main.js
  src/router/router.js
Labels: app, repo

Replace Jest config with Vitest config
  jest.config.js
  vitest.config.ts
Labels: repo

Update test scripts
  .circleci/config.yml
  README.md
  package.json
Labels: ci, repo

Fix asset import
  src/views/HomeView.vue
Labels: app

Swap out Jest packages for Vitest packages
  package-lock.json
  package.json
Labels: repo

Correct missing PostCSS plugin error
  .postcssrc.js
Labels: repo

Remove unneeded node polyfill
  package-lock.json
  package.json
Labels: repo

Update tests to run with Vite
  tests/unit/one/AddBudgetItem.spec.js
  tests/unit/three/AddEmployeeModal.spec.js
Labels: tests

Update Size Limit for ESBuild bundler
  .gitignore
  .size-limit.js
  package-lock.json
  package.json
  vite.config.ts
Labels: repo

Match firebase host in settings file
  src/firestore/index.js
Labels: app

Bump version to 2.0
  package-lock.json
  package.json
Labels: repo

Remove dependabot scheduling limitation
  .github/dependabot.yaml
Labels: ci

Re-add forced schedule parameter
  .github/dependabot.yaml
Labels: ci

Run linter
  src/firestore/index.js
Labels: app

Convert to Composition API
  src/components/hierarchy/HierarchyExample.vue
Labels: app
