Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*

Add size-limit for bundle size tracking
  .size-limit.js
  package-lock.json
  package.json
Labels: repo

Use size-limit in CI instead of Bundlewatch
  .github/workflows/pr-checks.yml
Labels: ci

Remove bundlewatch config
  .github/.bundlewatch.config.js
Labels: ci

Add names to bundle configs
  .size-limit.js
Labels: repo

Correct clash of local env variable with firebase version
  .env.e2e
  src/firestore/index.js
Labels: app, repo

fix department not defaulting to that of manager
  src/components/three/AddEmployeeModal.vue
Labels: app

Move simple ProjectThree components away from BV
  src/components/three/AddEmployeeModal.vue
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
  src/components/three/styles.scss
Labels: app

Validate the employee data before submission
  src/components/three/AddEmployeeModal.vue
  src/components/three/ProjectThree.vue
  tests/unit/three/AddEmployeeModal.spec.js
Labels: app, tests

Migrate from BV input with formatter
  src/components/three/AddEmployeeModal.vue
Labels: app

Remove BV modal
  src/components/three/AddEmployeeModal.vue
  src/components/three/ProjectThree.vue
Labels: app

Update test for new markup
  cypress/integration/ProjectThree.spec.js
  src/components/three/ProjectThree.vue
Labels: app

Remove Bootstrap-Vue & misc remaining refs
  package-lock.json
  package.json
  src/components/hierarchy/HierarchyExample.vue
  src/main.js
  tests/unit/one/AddBudgetItem.spec.js
  tests/unit/three/AddEmployeeModal.spec.js
Labels: app, repo, tests

Remove Bootstrap-Vue from docs
  README.md
Labels: repo

Add Vue 3 and compatibility package
  package-lock.json
  package.json
  vue.config.js
Labels: repo

Upgrade Vue CLI to v5-beta
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
Labels: repo

Run new linter rules and make needed adjustments
  .eslintrc.js
  src/components/one/DonutChart.vue
  src/components/three/OrganizationDiagram.vue
  src/components/two/LineChart.vue
  vue.config.js
Labels: app, repo

Upgrade test packages for Vue 3
  jest.config.js
  package-lock.json
  package.json
  tests/unit/one/AddBudgetItem.spec.js
  tests/unit/three/AddEmployeeModal.spec.js
Labels: repo, tests

WIP Work out webpack woes
  package-lock.json
  package.json
Labels: repo

Migrate ProjectOne components to firebase v9 API
  src/components/one/DonutChart.vue
  src/components/one/ProjectOne.vue
Labels: app

Correct misnamed link
  src/App.vue
Labels: app

De-dupe Bootstrap styles import
  src/components/hierarchy/HierarchyExample.vue
  src/components/one/AddBudgetItem.vue
  src/components/one/ProjectOne.vue
  src/components/three/styles.scss
  src/components/two/ProjectTwo.vue
Labels: app

Set significantly stricter bundle size limits
  .size-limit.js
Labels: repo

Refactor Bootstrap theme imports to shared location
  src/components/hierarchy/HierarchyExample.vue
  src/components/one/AddBudgetItem.vue
  src/components/one/ProjectOne.vue
  src/components/three/styles.scss
  src/components/two/ProjectTwo.vue
  src/styles/theming.scss
Labels: app

Migrate ProjectTwo components to Firebase v9 API
  src/components/two/LineChart.vue
  src/components/two/ProjectTwo.vue
Labels: app

Move ProjectThree over to Firebase v9
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
Labels: app

Move ProjectThree to Firebase v9 API
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
Labels: app

remove commented-out styles
  src/components/hierarchy/HierarchyExample.vue
Labels: app

Specify versions of Node and NPM
  package.json
Labels: repo

Bump package-lock
  package-lock.json
Labels: repo

Update node version in CI
  .circleci/config.yml
Labels: ci

1.0.0
  package-lock.json
  package.json
Labels: repo

Update size-limit to v6
  package-lock.json
  package.json
Labels: repo

Add Vue 3 and compatibility package
  package-lock.json
  package.json
  vue.config.js
Labels: repo

Upgrade Vue CLI to v5-beta
  .eslintrc.js
  babel.config.js
  package-lock.json
  package.json
Labels: repo

Run new linter rules and make needed adjustments
  .eslintrc.js
  src/components/one/DonutChart.vue
  src/components/three/OrganizationDiagram.vue
  src/components/two/LineChart.vue
  vue.config.js
Labels: app, repo

Upgrade test packages for Vue 3
  jest.config.js
  package-lock.json
  package.json
Labels: repo

Update tests for test library API changes
  tests/unit/one/AddBudgetItem.spec.js
  tests/unit/three/AddEmployeeModal.spec.js
Labels: tests

Update size-limit to v6
  package-lock.json
  package.json
Labels: repo

Add webpack
  package-lock.json
  package.json
Labels: repo

Migrate setup code to v9 Firebase API
  src/firestore/index.js
  src/main.js
Labels: app
