Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

Make sure prettier doesn't insert semi-colons
  .prettierrc.json
Labels: repo

Components don't call firestore init directly
  src/components/hierarchy/CirclePackChart.vue
  src/components/hierarchy/HierarchyExample.vue
  src/components/one/DonutChart.vue
  src/components/one/ProjectOne.vue
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
  src/components/two/LineChart.vue
  src/components/two/ProjectTwo.vue
  src/firestore/index.js
Labels: app

Add firebase emulator settings
  .gitignore
  firebase.json
Labels: repo

Allow using emulator for firebase in app
  src/firestore/index.js
Labels: app

All components use same firebase reference
  src/components/one/DonutChart.vue
  src/components/one/ProjectOne.vue
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
  src/components/two/LineChart.vue
  src/components/two/ProjectTwo.vue
  src/main.js
Labels: app

Support toggling firebase emulator use via env var
  .env.e2e
  package.json
  src/firestore/index.js
  src/main.js
Labels: app, repo

Adding an initial e2e test for ProjectOne
  cypress/integration/ProjectOne.spec.js
Labels: none

Allow Firebase to auto-detect long-polling
  src/firestore/index.js
Labels: app

Adding firestore emulator data for ProjectOne test
  cypress/fixtures/firebase/firebase-export-metadata.json
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/output-0
  cypress/fixtures/firebase/firestore_export/firestore_export.overall_export_metadata
Labels: none

Add e2e test for ProjectTwo including seed data
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/output-0
  cypress/fixtures/firebase/firestore_export/firestore_export.overall_export_metadata
  cypress/integration/ProjectTwo.spec.js
Labels: none

Adding e2e test for ProjectThree
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  cypress/fixtures/firebase/firestore_export/all_namespaces/all_kinds/output-0
  cypress/fixtures/firebase/firestore_export/firestore_export.overall_export_metadata
  cypress/integration/ProjectThree.spec.js
Labels: none

Document use of Firebase Emulator for e2e tests
  README.md
Labels: repo

Replace deprecated option in unit test
  tests/unit/three/AddEmployeeModal.spec.js
Labels: tests

Exclude Cypress and CI from coverage
  jest.config.js
Labels: repo

Move extended timeout to initial dynamic elements
  cypress/integration/ProjectOne.spec.js
  cypress/integration/ProjectThree.spec.js
  cypress/integration/ProjectTwo.spec.js
Labels: none

Upload debug logs on failure
  .github/workflows/e2e.yaml
Labels: ci

Adding an E2E workflow
  .github/workflows/e2e.yaml
Labels: ci

DROP Adding debug trigger for e2e
  .github/workflows/e2e.yaml
Labels: ci

Run e2e on Windows for now
  .github/workflows/e2e.yaml
Labels: ci

Update Sass Loader to v10
  package-lock.json
  package.json
Labels: repo

Convert hierarchy example to pure Vue
  src/components/hierarchy/CirclePackChart.vue
  src/components/hierarchy/HierarchyExample.vue
Labels: app

Convert to pure Vue
  src/components/one/AddBudgetItem.vue
Labels: app

Remove Bootstrap-Vue parts
  src/components/one/ProjectOne.vue
Labels: app

Mention migration in documentation
  README.md
Labels: repo

Migrate away from Bootstrap-Vue
  src/views/Home.vue
Labels: app

Move Preview away from Bootstrap-Vue
  package-lock.json
  package.json
  src/main.js
  src/views/ProjectPreviewCarousel.vue
Labels: app, repo

Migrate away from Bootstrap-Vue
  src/App.vue
Labels: app

Manual init to avoid flakiness
  src/views/ProjectPreviewCarousel.vue
Labels: app

Wait for chart update
  cypress/integration/ProjectTwo.spec.js
Labels: none

Migrate away from Bootstrap-Vue
  src/components/two/LineChart.vue
  src/components/two/ProjectTwo.vue
Labels: app

Switch from BV button to normal
  src/components/two/ProjectTwo.vue
Labels: app

Switch to compat exports of firebase v9
  src/firestore/index.js
  src/main.js
Labels: app

tweak bundlewatch paths, separate rules for JS and CSS
  .github/.bundlewatch.config.js
Labels: ci

Add lint exception for debug-only console statement
  src/firestore/index.js
Labels: app

Adding workflow for bundlewatch
  .github/.bundlewatch.config.js
  .github/workflows/pr-checks.yml
Labels: ci

Adding bundlewatch exception for vendors file
  .github/.bundlewatch.config.js
Labels: ci

Install all dependencies for now
  .github/workflows/pr-checks.yml
Labels: ci

Tighten up limit on app bundle
  .github/.bundlewatch.config.js
Labels: ci

Track bundle size on main
  .github/workflows/pr-checks.yml
Labels: ci

Explicitly set main as tracked branch
  .github/.bundlewatch.config.js
Labels: ci

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*
