Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

Migrate emulator setup to v9 API
  src/firestore/index.js
Labels: app

Bump @vue/cli packages
  babel.config.js
  package-lock.json
  package.json
Labels: repo

Bump Vue CLI
  package-lock.json
  package.json
Labels: repo

Bump resolved packages
  package-lock.json
Labels: repo

update caniuse-lite
  package-lock.json
Labels: repo

Adding an E2E workflow
  .github/workflows/e2e.yaml
Labels: ci

Upload debug logs on failure
  .github/workflows/e2e.yaml
Labels: ci

DROP Adding debug trigger for e2e
  .github/workflows/e2e.yaml
Labels: ci

Install firebase tools via npm
  .github/workflows/e2e.yaml
Labels: ci

Run e2e on Windows for now
  .github/workflows/e2e.yaml
Labels: ci

Wait on app to start
  .github/workflows/e2e.yaml
Labels: ci

Specify bash for start command
  .github/workflows/e2e.yaml
Labels: ci

Bump e2e timeout limit
  .github/workflows/e2e.yaml
Labels: ci

Trying higher initial command timeouts
  cypress/integration/ProjectOne.spec.js
  cypress/integration/ProjectThree.spec.js
  cypress/integration/ProjectTwo.spec.js
Labels: none

Use two-word name for component
  package-lock.json
  src/router.js
  src/views/HomeView.vue
Labels: app, repo

Updates from fresh install
  package-lock.json
Labels: repo

Update Vue CLI
  package-lock.json
  package.json
Labels: repo

Update to Vue 2.7
  package-lock.json
  package.json
Labels: repo

Update ESLint plugin
  package-lock.json
  package.json
Labels: repo

Update Vue router
  package-lock.json
  package.json
Labels: repo

Use Composition API (via `<script setup>`)
  src/App.vue
Labels: app

Correct issue with unused props
  src/views/ProjectPreviewCarousel.vue
Labels: app

Switch to Composition API (via `<script setup>`)
  src/views/ProjectPreviewCarousel.vue
Labels: app

Add a CarouselItem component
  src/components/carousel/CarouselItem.vue
Labels: app

Correct preview caption
  src/views/ProjectPreviewCarousel.vue
Labels: app

Refactor to use component for items
  src/views/ProjectPreviewCarousel.vue
Labels: app

Switch to Composition API (via `<script setup>`)
  src/views/HomeView.vue
Labels: app

Move Carousel to components folder
  src/components/carousel/ProjectPreviewCarousel.vue
  src/views/HomeView.vue
Labels: app

Extract components for buttons
  src/components/carousel/NextButton.vue
  src/components/carousel/PreviousButton.vue
  src/views/ProjectPreviewCarousel.vue
Labels: app

Dynamic Carousel contents
  src/components/carousel/ProjectPreviewCarousel.vue
  src/config/index.js
  src/config/projects.js
  src/views/HomeView.vue
Labels: app

Reference ProjectCarousel and config via modules
  src/components/index.js
  src/views/HomeView.vue
Labels: app

Use import alias
  src/App.vue
Labels: app

More modular route configuration
  src/main.js
  src/router.js
  src/router/index.js
  src/router/router.js
  src/router/routes.js
Labels: app

Fully extract a NavBar component
  src/App.vue
  src/components/index.js
  src/components/nav/NavBar.vue
  src/components/nav/NavDropdown.vue
  src/components/nav/NavItems.vue
Labels: app

More practical linter settings
  .eslintrc.js
Labels: repo

Extract Navbar Items
  src/App.vue
  src/components/NavDropdown/NavDropdown.vue
  src/components/NavDropdown/NavItems.vue
  src/router/routes.js
Labels: app

Remove explicit defineProps imports
  src/components/carousel/CarouselItem.vue
  src/components/carousel/NextButton.vue
  src/components/carousel/PreviousButton.vue
  src/components/carousel/ProjectPreviewCarousel.vue
  src/components/nav/NavDropdown.vue
  src/components/nav/NavItems.vue
Labels: app

e2e tests reference correct menu text
  cypress/integration/ProjectOne.spec.js
  cypress/integration/ProjectThree.spec.js
  cypress/integration/ProjectTwo.spec.js
Labels: none

Bump to Node 16
  .circleci/config.yml
  package.json
Labels: ci, repo

Convert to v2 format
  package-lock.json
Labels: repo

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*
