Repository AndrewADev/data-viz-d3-and-firebase, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, app, repo, tests

Refactor to Composition API
  src/components/hierarchy/CirclePackChart.vue
Labels: app

Update core packages to Vue 3-compatible versions
  package-lock.json
  package.json
  vite.config.ts
Labels: repo

Update to Vue Router v4
  package-lock.json
  package.json
  src/main.js
  src/router/router.js
Labels: app, repo

Run lint on test files
  package.json
Labels: repo

Update Vue Test Utils
  package-lock.json
  package.json
  tests/unit/one/AddBudgetItem.spec.js
  tests/unit/three/AddEmployeeModal.spec.js
Labels: repo, tests

Update vitest to v1
  package-lock.json
  package.json
Labels: repo

Update size-limit packages
  .size-limit.js
  package-lock.json
  package.json
Labels: repo

Bump to 2.1.0
  package-lock.json
  package.json
Labels: repo

Remove unused prop
  src/components/three/AddEmployeeModal.vue
  tests/unit/three/AddEmployeeModal.spec.js
Labels: app, tests

Use provide/inject for firebase
  src/components/one/DonutChart.vue
  src/components/one/ProjectOne.vue
  src/components/three/OrganizationDiagram.vue
  src/components/three/ProjectThree.vue
  src/components/two/LineChart.vue
  src/components/two/ProjectTwo.vue
  src/main.js
Labels: app

Configure renovate
  renovate.json
Labels: repo

Remove dependabot config
  .github/dependabot.yaml
Labels: ci

Update JSDOM to latest version
  package-lock.json
  package.json
Labels: repo

Update lint packages
  package-lock.json
  package.json
Labels: repo

.github/labeler.yml:

ci:
  - .github/**/*
  - .circleci/**/*

app:
  - src/**/*

repo:
  - ./*
  - setup/**/*

tests:
  - tests/**/*
